/*****************/
/*  Form Styles  */ 
/*****************/
.sectionTwo {
  max-width: 1200px;
  width: 50%;
  margin: 20px auto; 
} 

form {
  display: flex;
  flex-direction: column;
  background-color: $primaryColour;
  border-radius: 10px;
  margin-bottom: 50px;
}

h2 {
  padding: 10px; 
  margin-top: 20px;
}

form .typesOfExercises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

form .numberOfSets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label{ 
  padding: 10px 5px;  
} 

input { 
  color: $primaryColour;
  border: 1px solid primaryColour;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  background-color: white;
}

input.number { 
  font-size: 2rem;
  padding: 13px;
}

input:focus,
textarea:focus {
  border-color: $supAccent; 
}

::placeholder {
  color: $primaryColour;
  font-family: $body;
  font-size: 1.6rem; 
  letter-spacing: 1px;
  font-weight: 300;
}

