/*****************/
/*  Form Styles  */ 
/*****************/

form {
  display: flex;
  flex-direction: column;
  background-color: $primaryColour;
  width: (100% / 2);
  margin: 20px auto;
  border-radius: 10px;
}

form .typesOfExercises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

form .numberOfSets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


label{ 
  padding-top: 10px; 
  font-size: 25px; 
} 

input { 
  color: navy;
  border: 1px solid navy;
  border-radius: 5%;
  font-size: 25px;
  padding: 10px;
  background-color: white;
}

input.number { 
  font-size: 20px;
  padding: 13px;
}

.startTimer {
  color: navy;
  border:3px solid navy;
  margin: 25px 0;
  border-radius: 5%;
  font-size: 25px;
  padding: 10px;
  background-color: palevioletred;
  width: 100px;
}

input:focus,
textarea:focus {
  border-color: #ffb100; 
}

::placeholder {
  color: #F26430;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem; 
  letter-spacing: 2px;
  font-weight: 300;
}

button:hover {
  background-color: white;
}