/*****************/
/* Timer Styles */ 
/*****************/
.sectionOne {
  max-width: 1200px;
  width: 50%;
  margin: 30px auto;  
}

.timer {  
  display: flex;
  justify-content: space-between;
}

.lightUpTotal {
  box-shadow: 0px 0px 10px 10px $supAccent;
}

.totalWorkoutTimer,
.breakTimer {
  width: 47%;
  background-color: $primaryColour;
  border-radius: 10px;
  padding: 10px 0;
}

.workoutTimerH3,
.breakTimerH3 {
  width: 98%;
  margin-top: 15px;
}

h3 {
  padding: 5px;
}

.whiteBox {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  margin: 10px auto;
}

#second { 
  font-size: 40px; 
  color: $primaryColour; 
}

.label {
  font-weight: 300; 
  font-size: 20px; 
  margin-bottom: 15px;
}
