/*****************/
/* Timer Styles */ 
/*****************/

#timer{ 
  font-family: sans-serif; 
  color: #fff; 
  display: inline-block; 
  font-weight: 100; 
  text-align: center; 
 
} 
#timer > div{ 
  padding: 30px; 
  border-radius: 5px; 
  background: navy; 
  display: inline-block; 
  margin: 10px;
} 

#timer div > span{ 
  padding: 30px; 
  border-radius: 5px; 
  background: white; 
  display: inline-block; 
} 

#timer p{ 
  padding: 5px; 
  font-size: 20px; 
  color: navy; 
} 

#second { 
  font-size: 40px; 
  color: navy; 
}

.label {
  padding-top: 10px; 
  font-size: 25px; 
}