/*****************/
/*   Variables   */ 
/*****************/

/* Colours */ 
$primaryColour: #0D0628;
$secondaryColour: #F19C79; 
$supAccent: #B9E6FF; 
$supAcceptTwo: #D81E5B; 

/* Font Families */ 
$header: 'Montserrat', sans-serif;
$body: 'Roboto', sans-serif;
